.root {
    -fx-background-image: url("sunflower.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 450, 300;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
